{% extends "base.html" %}

{% block title %}智能车制作-中国最著名的大学生电子竞赛交流论坛 -  Powered by plusone!{% endblock %}

{% block page_content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">恩智浦(飞思卡尔)智能车竞赛</h3>
        </div>
        <div class="panel-body" style="padding-left:30px; padding-right:30px">                      
            <div class="row" >
                <div class="col-xs-6 col-sm-3">
                    <a href="/"><img src="../static/index/index_bubble.gif" class="img-responsive index_img"></a>
                    <div class="index_text">
                        <a class="index_title_race" href="{{ url_for('note.twelve') }}">第十二届竞赛广场</a>
                        <div>帖数:</div>
                        <div>最后发表:</div>
                    </div>
                </div>
                
                <div class="col-xs-6 col-sm-3">
                    <a href="/"><img src="../static/index/index_bubble.gif" class="img-responsive index_img"></a>
                    <div class="index_text">
                        <a class="index_title_race" href="{{ url_for('note.eleven') }}">第十一届竞赛回顾</a>
                        <div>帖数:</div>
                        <div>最后发表:</div>
                    </div>
                </div>
         
                <div class="col-xs-6 col-sm-3">
                    <a href="/"><img src="../static/index/index_bubble.gif" class="img-responsive index_img"></a>
                    <div class="index_text">
                        <a class="index_title_race" href="/">第十届竞赛回顾</a>
                        <div>帖数:</div>
                        <div>最后发表:</div>
                    </div>
                </div>
                
                <div class="col-xs-6 col-sm-3">
                    <a href="/"><img src="../static/index/index_bubble.gif" class="img-responsive index_img"></a>
                    <div class="index_text">
                        <a class="index_title_data" href="/">历届赛况资料讨论</a>
                        <div>帖数:</div>
                        <div>最后发表:</div>
                    </div>
                </div>
            </div> 

            <hr style="border:1px dashed" color="#DDDDDD"> 
            
            <div class="row" >
                <div class="col-xs-6 col-sm-3">
                    <a href="/"><img src="../static/index/index_bubble.gif" class="img-responsive index_img"></a>
                    <div class="index_text">
                        <a class="index_title_type" href="/">追逐类</a>
                        <div>帖数:</div>
                        <div>最后发表:</div>
                    </div>
                </div>
                
                <div class="col-xs-6 col-sm-3">
                    <a href="/"><img src="../static/index/index_bubble.gif" class="img-responsive index_img"></a>
                    <div class="index_text">
                        <a class="index_title_type" href="/">直立类</a>
                        <div>帖数:</div>
                        <div>最后发表:</div>
                    </div>
                </div>
         
                <div class="col-xs-6 col-sm-3">
                    <a href="/"><img src="../static/index/index_bubble.gif" class="img-responsive index_img"></a>
                    <div class="index_text">
                        <a class="index_title_type" href="/">四轮类</a>
                        <div>帖数:</div>
                        <div>最后发表:</div>
                    </div>
                </div>
                
                <div class="col-xs-6 col-sm-3">
                    <a href="/"><img src="../static/index/index_bubble.gif" class="img-responsive index_img"></a>
                    <div class="index_text">
                        <a class="index_title_type" href="/">双车对抗</a>
                        <div>帖数:</div>
                        <div>最后发表:</div>
                    </div>
                </div>
            </div>  
            
            <hr style="border:1px dashed" color="#DDDDDD"> 
            
            <div class="row" >
                <div class="col-xs-6 col-sm-3">
                    <a href="/"><img src="../static/index/index_bubble.gif" class="img-responsive index_img"></a>
                    <div class="index_text">
                        <a class="index_title_other" href="/">恩智浦(飞思卡尔)微控制器</a>
                        <div>帖数:</div>
                        <div>最后发表:</div>
                    </div>
                </div>
                
                <div class="col-xs-6 col-sm-3">
                    <a href="/"><img src="../static/index/index_bubble.gif" class="img-responsive index_img"></a>
                    <div class="index_text">
                        <a class="index_title_other" href="/">智能车基础知识</a>
                        <div>帖数:</div>
                        <div>最后发表:</div>
                    </div>
                </div>
         
                <div class="col-xs-6 col-sm-3">
                    <a href="/"><img src="../static/index/index_bubble.gif" class="img-responsive index_img"></a>
                    <div class="index_text">
                        <a class="index_title_other" href="/">智能车商家服务</a>
                        <div>帖数:</div>
                        <div>最后发表:</div>
                    </div>
                </div>
                
                <div class="col-xs-6 col-sm-3">
                    <a href="/"><img src="../static/index/index_bubble.gif" class="img-responsive index_img"></a>
                    <div class="index_text">
                        <a class="index_title_other" href="/">智能车技术报告下载</a>
                        <div>帖数:</div>
                        <div>最后发表:</div>
                    </div>
                </div>
            </div>  
            
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">大学生电子设计大赛</h3>
        </div>
        <div class="panel-body">
            这是一个基本的面板
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">外围扩展</h3>
        </div>
        <div class="panel-body">
            这是一个基本的面板
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">其他智能车</h3>
        </div>
        <div class="panel-body">
            这是一个基本的面板
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">技术工具专区</h3>
        </div>
        <div class="panel-body">
            这是一个基本的面板
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}


